@import 'fonts';
@import 'reset';
@import 'vars';

body {
  background: url('../images/background_main.png') center / cover;
}

.wrapper {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 350px;
  height: 150px;
  background: white;
  border-radius: 6px;

  label {
    margin: 0 0 20px 0;
  }

  input {
    font-family: 'Roboto';
    font-size: 15px;
    width: 80%;
    margin: 0 0 20px 0;
    border-radius: 6px;
    padding: 10px;
  }
  &__btn {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid black;
    background: green;
    color: white;
    cursor: pointer;
  }
}

.output-box {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 350px;
  height: 150px;
  background: white;
  border-radius: 6px;
  // .output-box__message

  &__message {
    margin: 0 0 15px;
  }

  // .output-box__name

  
}

.container {
  padding: 0 30px;
  // max-width: 450px;
  margin: 0 auto;
  // від 0 до бескінечності

  @include viewport-md {
    // від 768 >
    // max-width: 708px;
  }

  // @include viewport-lg {
  //   // від 1024 >
  //   // max-width: 964px;
  // }

  // @include viewport-xl {
  //   // від 1440 >
  //   // max-width: 1380px;
  // }

  // @include viewport-xll {
  //   // max-width: 1760px;
  // }
}
